.container {
    display: inline-grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
    grid-template-rows: auto auto;
    /* grid-auto-rows: max-content;
    grid-auto-columns: max-content; */
    grid-template-areas: 
        'starting-icon starting-input-box swap-icon'
        'destination-icon destination-input-box swap-icon';
    justify-items: center;
    align-items: center;
    /* justify-content: space-evenly;
    align-content: space-evenly; */
    grid-gap: 1em 1em;
    background-color: lightgrey;
    margin: 10px 10px;
    padding: 16px 20px;
    border-radius: 10px;
    /* width: auto; */
}

.item-1 {
    grid-area: starting-icon;
}

.item-2 {
    grid-area: destination-icon;
}

.item-3 {
    grid-area: starting-input-box;
    align-self: left;
    display: block;
}

.item-4 {
    grid-area: destination-input-box;
    align-self: left;
}

.item-5 {
    grid-area: swap-icon;
}

.hollow-red-circle {
    /* border: 2px lightblue solid; */
    height: 20px;
    grid-area: 1 / 1
}

.round-pushpin-image {
    /* border: 2px lightblue solid; */
    height: 24px;
    grid-area: 2 / 1
}

.up-down-arrow {
    height: 24px;
}
.search-container {
    height: 20px;
    font-size: 15px;
    width: 200px;
    margin: 0px;
    padding: 12px 20px;
    border-radius: 10px;
    border-style: none;
}