{% extends "layout.html" %}
{% block content %}
  <!-- sign up box -->
  <div class="container"
    style="display: flex; justify-content: center; align-items: center; margin-top: 20vh; width: 500px;">
    <div class="col">
      <div class="card mb-2">
        <div class="card-body">
          <form method="post" action="/accLogin">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input id="email" class="form-control" type="text" name="email" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input id="password" class="form-control" type="password" name="password">
            </div>

            <button type="submit" class="btn btn-primary" style="width: 100%;">Login</button>
          </form>

          <!-- warning messages -->
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
          <!-- end of warning messages -->
        </div>
      </div>

      <div class="card" style="width: 500px;">
        <div class="card-body align-content-sm-center">
          <div class="resetPw">
            <a class="reset-password-button" href="/reset"
              style="display: flex; justify-content: center; align-items: center;">Forgot your password?</a>
          </div>
          <div class="sign-up">
            <a class="sign-up-button" href="/signup"
              style="display: flex; justify-content: center; align-items: center;">Don't have an account? Sign up here</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end of sign up box -->
  </div>
{% endblock content %}