{% extends "layout.html" %}
{% block content %}
  <div class="container"
    style="display: flex; justify-content: center; align-items: center; margin-top: 20vh; width: 500px;">
    <div class="col">
      <div class="card mb-2">
        <div class="card-body">
          <form method="post" action="/resetPwd">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email:</label>
              <input id="email" class="form-control" type="text" name="email" aria-describedby="emailHelp">
            </div>

            <button class="btn btn-primary" style="width: 100%;">Reset Password</button>
          </form>
        </div>
        <!-- warning messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
          {{ message }}
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- end of warning messages -->
      </div>
      <div class="card" style="width: 500px; margin-top: 20px;">
        <div class="card-body">
          <a class="login-page-button" href="/login"
            style="display: flex; justify-content: center; align-items: center;">Return to Login Page</a>
        </div>
      </div>
    </div>
    <!-- end of sign up box -->
  </div>
{% endblock content %}