<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/general.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/header.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/website.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/login.css')}}">
  </head>

  <body>
    <div class="header">
      <div class="left-section">
        <a class="nav-link" href="/route-planner">
          <img class="back-arrow-image" src="{{url_for('static', filename='../images/back-arrow.png')}}" alt="">
          Back
        </a>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="sign-up-container">
        <div class="sign-up">          
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="flashes">
              {% for message in messages %}
              {{ message }}
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}

          <form method="post" action="/accReset">
            <div class="username-box">
              <label for="email">Email:</label>
              <input id="email" class="username-textbox" type="text" name="email" placeholder="Email">
            </div>
            <div class="password-box">
              <label for="password">Password:</label>
              <input id="password" class="password-textbox" type="password" name="password" placeholder="Password">
            </div>
            <div class="password-box">
                <label for="confirm-password">Confirm Password:</label>
                <input id="confirm-password" class="password-textbox" type="confirm-password" name="confirm-password" placeholder="Password">
              </div>
            <button class="reset-button">Reset</button>
          </form>

          <a class="login-page-button" href="/login">Return to Login Page</a>
<!--      <button class="reset-password-button" href="/reset">Forgot your password?</button>-->
<!--      <a class="sign-up-button" href="/signup">Don't have an account? Sign up here</a>-->
<!--          <button id="signupBtn" class="sign-up-button">Don't have an account? Sign up here</button>-->
        </div>
      </div>
    </div>
  </body>

</html>