<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SG Map</title>

  <!-- website map display css -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/map.css')}}">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <!-- onemap leaflet -->
  <link rel="stylesheet" href="https://www.onemap.gov.sg/web-assets/libs/leaflet/leaflet.css">
  <script src="https://www.onemap.gov.sg/web-assets/libs/leaflet/onemap-leaflet.js"></script>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="z-index: 4;">
    <div class="container-fluid">
      <!-- website logo -->
      <a class="navbar-brand" href="/route-planner">
        <img src="{{url_for('static', filename='images/singapore-flag.png')}}" alt="singapore-flag" width="auto"
          height="30" class="d-inline-block align-middle">
        Map
      </a>

      <!-- nav -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/route-planner">Route Planner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bus-explorer">Bus Explorer</a>
          </li>
        </ul>

        <!-- log out button only appears if user is logged in (tracked by session)-->
        {% if 'email' in session %}
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#savedroute-menu" aria-controls="savedroute-menu">Saved Route</button>
        <a id= "logout-btn" class="btn btn-primary " href="/logout" role="button">Log out</a> 
        {% else %}
        <a class="btn btn-primary" href="/login" role="button">Login</a> 
        {% endif %}

      </div>
      <!-- end of nav -->
    </div>
  </nav>

  <!-- saved route menu -->
  <div class="offcanvas offcanvas-end" id="savedroute-menu" style="width: 40%;" >
    <div class="offcanvas-header">
      <h5>Saved Route</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="savedroute-menu"></button>
    </div>

    <div class="offcanvas-body">
      <!--  input here -->
    </div>
  </div>

  <!-- search box -->
  <div id="userInput" class="card mt-2 ms-2 p-2" style="width: 18rem; z-index: 5;">
    <form id="input-form" action="/route-planner">

      <!-- mode of transport selector -->
      <select class="form-select form-select mb-2" id="routeType" name="type">
        <option selected disabled>Select Mode of Transport</option>
        <option value="pt">Public Transport</option>
        <option value="drive">Drive</option>
      </select>

      <!-- starting address input -->
      <div class="input-group mb-2">
        <input type="text" class="form-control" id="srcInput" name="start" placeholder="Enter your address">
      </div>

      <!-- destination address input -->
      <div class="input-group mb-2">
        <input type="text" class="form-control" id="dstInput" name="end" placeholder="Enter your destination">
      </div>

      <!-- autocomplete results -->
      <ul id="autocomplete" class="list-group list-group-flush"></ul>
      <!-- list display in route-planner.js -->

      <!-- enter button -->
      <div class="d-grid">
        <button class="btn btn-primary" type="submit" id="calBtn">Begin Search</button>
      </div>
    </form>


  </div>

  <!-- routing data -->
  <div id="routeData" class="card mt-2 ms-2 p-2" style="width: 18rem; z-index: 5; display:none;">

    <!-- red route info -->
    <div class="d-grid routeInfoButton">
      <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#red-route"
      aria-expanded="false" aria-controls="red-route">
      Red Route
      </button> 
    </div>
    
    <div class="route1Steps">
      <ul class="collapse list-group list-group-flush list-group-numbered" id="red-route">
        {% for data in route1Steps %}
        <li class="list-group-item">{{ data }}</li>
        {% endfor %}
      </ul>
    </div>
    <!-- end of red route info -->

    <!-- blue route info -->
    <div class="d-grid mt-2 routeInfoButton">
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#blue-route"
      aria-expanded="false" aria-controls="blue-route">
      Blue Route
      </button> 
    </div>
    
    <div class="route2Steps">
      <ul class="collapse list-group list-group-flush list-group-numbered" id="blue-route">
        {% for data in route2Steps %}
        <li class="list-group-item">{{ data }}</li>
        {% endfor %}
      </ul>
    </div>
    <!-- end of blue route info -->
    
    <!-- green route info -->
    <div class="d-grid mt-2 routeInfoButton">
      <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#green-route"
      aria-expanded="false" aria-controls="collapseExample">
      Green Route
      </button> 
    </div>
    
    <div class="route3Steps">
      <ul class="collapse list-group list-group-flush list-group-numbered" id="green-route">
        {% for data in route3Steps %}
        <li class="list-group-item">{{ data }}</li>
        {% endfor %}
      </ul>
    </div>
    <!-- end of green route info -->
  </div>
  <!-- end of routing info -->

  <!-- map display -->
  <div id="map" style="z-index: 3"></div>
  <script src="{{url_for('static',filename='js/map.js')}}"></script>
  <!-- end of map display -->

  <!-- scripts -->
  <!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <!-- polyline js -->
  <script src="https://cdn.jsdelivr.net/npm/polyline-encoded@0.0.9/Polyline.encoded.min.js"></script>
  <script src="{{url_for('static', filename='js/route-planner.js')}}"></script>
</body>

</html>